body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('Stellar.jpg') no-repeat;
    color: #333;
    margin: 0;
    padding: 50px;
}

h1 {
    color: #0066cc;
}

button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #004080;
}